
.cursor-leader {
    width: 18px;
    height: 18px;
    background-color: #6ae6bc;
    border-radius: 50%;
    position: fixed;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 999999999999999999;
    top: -100px;
}

.cursor-leader.active {
    background-color: white;
}

.cursor-follower {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    position: fixed;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 999999999999999999;
    top: -100px;
}

.cursor-follower::after {
    content: "";
    width: 35px;
    height: 35px;
    position: fixed;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -9px;
    left: -9px;
    animation: cursorAnim2 .5s infinite alternate;
    z-index: 999999999999999999;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 3px solid #6ae6bc;
}

@media (pointer: coarse) {
    .cursor-follower, .cursor-leader {
        display: none;
    }
}
